= t("admin_page.welcome", :user => (current_user.username||current_user.email).capitalize)
= link_to admin_posts_path, admin_posts_path
= link_to admin_users_path, admin_users_path
= link_to admin_pages_path, admin_pages_path

.latest_posts
  = t("post.latest")
  %ul
    = render :partial => "/admin/shared/content", :collection => @latest_posts
  
.latest_users
  = t("user.latest")
  %ul
    = render :partial => "/admin/users/user", :collection => @latest_users
    
.latest_comments
  = t("comment.latest")
  %ul
    = render :partial => "/admin/comments/comment", :collection => @latest_comments
    
.footer
  = create_statistics