-if can? :read, content.type.constantize
  %div{:id => content.id, :class => content.type} 
    %h2= link_to "#{content.title}", content
    %h5=readable_time(content.created_at, t("created_at"))
    %h4= readable_time(content.updated_at, t("updated_at")) if content.updated_at > content.created_at + 5.hours 
    -if content.type == "Post"
      -content.tag_list.each do|tag|
        %h5= link_to tag, post_tags_path(tag)
      -Post.get_related_posts(content.tag_list, content).each do |post|
        %h5= link_to "#{post.title}", post