%h2 Blog

%table
  %tr
    %th Title
    %th Content
    %th Commentable
    %th Published
    %th User
  - for post in @posts
    %tr
      %td= h post.title
      %td= h post.content
      %td= h post.commentable
      %td= h post.published
      %td= h post.user_id
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Post", new_post_path
